<div el-container direction="vertical" class="demo-box mid-outlet">
  <div el-headern class="first-title">
    <h1>部门管理</h1></div>
  <div el-main>
    <div el-row>
      <h3>人才池：</h3>
      <h4>（点击职位可查看详情哦）</h4>
    </div>
    <div el-row gutter="40" type="flex" class="" justify="space-around">
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">新手无职称</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">初级程序员</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="">
            <span class="btn-info">中级程序员</span>
            <span class="btn-info">100人<span style="color:red;">(缺20人)</span></span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">高级程序员</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="">
            <span class="btn-info">资深程序员</span>
            <span class="btn-info">100人<span style="color:red;">(缺20人)</span></span>
          </el-button>
        </div>
      </div>
    </div>
    <div el-row style="height: 20px;"></div>
    <div el-row gutter="40" type="flex" class="" justify="space-around">
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">初级测试员</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">高级测试员</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content">
          <el-button type="success">
            <span class="btn-info">系统架构师</span>
            <span class="btn-info">120人</span>
          </el-button>
        </div>
      </div>
      <div el-col span="4">
        <div class="grid-content"></div>
      </div>
      <div el-col span="4">
        <div class="grid-content"></div>
      </div>
    </div>
    <!--     <div el-row gutter="40" type="flex" class="" justify="end">
    <div el-col span="4">
      <div class="grid-content">
        <el-button [plain]="true" type="info" [round]="true">意向人员投稿</el-button>
      </div>
      <span>点击上方按钮，您就可以查看申请职位的意向人员的投稿了。</span>
    </div>
  </div>
   --></div>
  <div el-footer>
    <div el-row>
      <h3>职位详情：</h3></div>
    <div el-row type="flex" class="row-bg" justify="center">
      <div el-col span="16">
        <el-table [model]="tableData" [scroll-x]="true" center="all">
          <el-table-column model-key="rank" label="排名" width="150">
          </el-table-column>
          <el-table-column model-key="name" label="姓名" width="150">
          </el-table-column>
          <el-table-column model-key="skill1" label="技能1" width="150">
          </el-table-column>
          <el-table-column model-key="skill2" label="技能2" width="150">
          </el-table-column>
          <el-table-column label="多选操作" width="100">
            <el-checkbox [model]="val" (modelChange)="handle($event)">&nbsp;</el-checkbox>
          </el-table-column>
          <!--
          <el-table-column label="操作" width="120">
            <ng-template #slot let-scope="scope">
              <el-button type="text" size="small" (click)="handle(scope)">删除</el-button>
            </ng-template>
          </el-table-column>
 -->
        </el-table>
        <el-pagination [total]="500" [page-size]="20" [layout]="['prev', 'pager', 'next', 'jumper']">
        </el-pagination>
        <br>
        <br>
      </div>
      <div el-col span="3">
        <el-button type="success">申请招工</el-button>
        <br>
        <br>
        <el-button type="success">导出报告</el-button>
        <br>
        <br>
        <h5>Tips:</h5>
        <p>此表是根据总分由高到</p>
        <p>低进行排名的，您可以</p>
        <p>选择多项信息，点“导</p>
        <p>出报告”按钮导出数据。</p>
        <P></P>
      </div>
    </div>
  </div>
</div>
