/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";

//整体
.demo-box {
  max-width: 800px;
  // min-width: 500px;

  margin: 10px auto;
}

.el-main {
  width: 100%;
  margin: 0 auto;
  background: rgba(188, 188, 188, 0.1);
}


.el-row {
  margin-bottom: 20px;
}

.el-row:last-child {
  margin-bottom: 0;
}

.el-col {
  border-radius: 4px;
}

.el-form-item {
  max-width: 500px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple-light {
  background: #e5e9f2;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.first-title h1 {
  color: #67c23a;
  text-align: center;
  margin: 10px;
}

.second-title {
  color: #67c23a;
  margin: 10px;
}

.card-title {
  text-align: center;
}

.card-ul {
  list-style: none;
  padding: 5px;
}

.card-ul li {
  margin: 5px 5px 0;
}

.faild {
  color: red;
}

.btn-info {
  display: block;
  text-align: center;
  margin: 3px 0;
}


//预约
.el-table .info-row {
  background: #c9e5f5;
}

.el-table .positive-row {
  background: #e2f0e4;
}

//时间输入框
.myDate {
  width: 50%;
  max-width: 100px;
}
